<link rel="import" href="../../../bower_components/polymer/polymer.html"/>
<dom-module id="axis-categories-form">
  <template>
    <style>
        ::content .btn-add-label {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            line-height: 38px;
        }

        ::content .min-width-50 {
            min-width: 50%;
        }
    </style>
    <template is="dom-repeat" items="{{categories}}" as="category" restamp>
      <div class="form-group mb-2">
        <div>
          <label for="categoryTag[[index]]" class="col-form-label py-1">Category [[_incrNumber(index)]]</label>
        </div>
        <div class="d-flex mb-2">
          <input
            id="categoryTag[[index]]"
            name="categoryTag[[index]]"
            list="tagListDropdown"
            class="form-control w-50 min-width-50"
            placeholder="Search/Add Tags"
            autocomplete="off"
            data-index$="[[index]]"
            value$="[[category.tag]]"
            on-change="_changeCategoryTag"
            required/>
          <input
            id="categoryTagLabel[[index]]"
            name="categoryTagLabel[[index]]"
            class="form-control ml-2  w-50"
            placeholder$="[[_placeholder(index)]]"
            autocomplete="off"
            maxlength="32"
            pattern="[0-9a-zA-Z-_]+([\s][0-9a-zA-Z-_]+)*"
            value$="[[category.label]]"
            index="[[index]]"
            on-input="_changeCategoryLabel"
          />
          <template is="dom-if" if="[[_showRemove(categories.length)]]">
            <i data-index$="[[index]]"
               class="float-right fas fa-times-circle text-dark p-2 mb-1"
               title="Remove category"
               on-click="_removeCategory">
            </i>
          </template>
        </div>
        <template is="dom-if" if="[[multiAxis.value]]" restamp>
          <div class="d-flex">
            <input
              id="categoryTag[[index]]2"
              name="categoryTag[[index]]2"
              list="tagListDropdown"
              class="form-control w-50 min-width-50"
              placeholder="Search/Add Tags"
              autocomplete="off"
              data-index$="[[index]]"
              value$="[[category.tag2]]"
              on-change="_changeCategoryTag2"
              required/>
            <input
              id="categoryTagLabel[[index]]2"
              name="categoryTagLabel[[index]]2"
              class="form-control ml-2 w-50"
              placeholder="Write Label"
              autocomplete="off"
              value$="{{_getCategoryLabel(categories, index)}}"
              index="[[index]]"
              disabled
            />
          </div>
        </template>
      </div>
    </template>

    <div class="form-group mt-4 cursor-pointer" on-click="_addCategory">
      <i class="fas fa-plus-circle form-icon"></i>
      <span class="p-1 font-weight-bold">Add category</span>
    </div>

    <datalist id="tagListDropdown" restamp>
      <template is="dom-repeat" items="{{tagList}}" as="item" restamp>
        <option value="[[item.tag_name]]">[[item.description]]</option>
      </template>
    </datalist>

  </template>

  <script>
    Polymer({
      is: 'axis-categories-form',
      properties: {
        categories: {
          type: Array,
          value: [{tag: '', label: '', tag2: ''}],
        },
        tagList: {
          type: Array,
          value: []
        },
        multiAxis: {
          type: Object,
          value: {value: false},
        }
      },
      _incrNumber(n) {
        return n + 1
      },
      _changeCategoryTag(e) {
        const {dataset: {index}, value} = e.target
        if (!this.categories[index]) return
        this.set(`categories.${index}.tag`, value)
        this._updateCategories()
      },
      _changeCategoryTag2(e) {
        const {dataset: {index}, value} = e.target
        if (!this.categories[index]) return
        this.set(`categories.${index}.tag2`, value)
        this._updateCategories()
      },
      _changeCategoryLabel(e) {
        const {index, value} = e.target
        if (!this.categories[index]) return
        this.set(`categories.${index}.label`, value)
        this._updateCategories()
      },
      _getCategoryLabel(categories, index) {
        return _.get(categories, [index, 'label'], '')
      },
      _addCategory() {
        if (this._isInvalid()) return
        this.push('categories', {label: '', tag: '', tag2: ''})
        this._updateCategories()
      },
      _isInvalid() {
        this.fire('validate')
        return _.some(this.categories, category => {
          const tag = _.get(category, 'tag')
          return _.isEmpty(tag)
        })
      },
      _showRemove(len) {
        return len > 1
      },
      _removeCategory(e) {
        const {dataset: {index}} = e.currentTarget
        this.splice('categories', index, 1)
        this._updateCategories()
      },
      _placeholder(i) {
        return `Category ${i + 1}`
      },
      _updateCategories() {
        this.fire('change-categories', _.cloneDeep(this.categories))
      },
    })
  </script>
</dom-module>
