<link rel="import" href="../../../bower_components/polymer/polymer.html"/>
<link rel="import" href="../../components/forms/operator.html"/>
<link rel="import" href="../../components/forms/pie-categories.html"/>
<link rel="import" href="../../components/forms/btn-operator.html"/>

<dom-module id="filters-box-whisker">
  <template>
    <style></style>
    <div class="stacked-column-chart-filters">

      <!--      CATEGORIES   -->
      <pie-categories
        tag-list="{{tagList}}"
        categories="{{categories}}"
        show-category-label="true"
        on-change-categories="_onCategoriesChange"
      >
      </pie-categories>

    </div>

  </template>

  <script>
    Polymer({
      is: 'filters-box-whisker',
      properties: {
        tagList: {
          type: Array,
          value: []
        },
        urlParams: {
          type: Object,
          value: {},
          observer: '_onChangeUrlParams'
        }
      },
      attached() {
        this.set('categories', [{tag: '', label: null}])
      },
      _onChangeUrlParams(urlParams) {
        if (!_.isEmpty(urlParams) && ['box_whisker'].includes(urlParams.selectedChart)) {
          this.async(function () {
            this.set('categories', urlParams.categories)
          })
        }
      },
      _onCategoriesChange(e, categories) {
        e.stopPropagation()
        this.fire('change-filters', {categories})
      },

    })
  </script>
</dom-module>

