<link rel="import" href="../../../bower_components/polymer/polymer.html"/>
<link rel="import" href="../../components/forms/operator.html"/>
<link rel="import" href="../../components/forms/tags-categories.html"/>
<link rel="import" href="../../components/forms/btn-operator.html"/>
<link rel="import" href="../../components/forms/operator.html"/>

<dom-module id="water-fall-filters">
  <template>
    <style>
      .active-tags {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      .active-tags li {
        height: 32px;
        margin-bottom: 2px;
        border-radius: 4px;
        border: 1px solid #eee;
        padding: 4px 8px;
      }

      .active-tags li > .active-tag-rm-btn {
        cursor: pointer;
      }

      .active-tags li > span {
        max-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    </style>
    <div class="water-fall-filters">
      <!--      OPERATOR BUTTON -->
      <btn-operator operator-shown="{{operatorShown}}"></btn-operator>

      <!--      OPERATOR  OPTIONS -->
      <template is="dom-if" if="[[operatorShown]]">
        <operator-form operator="{{operator}}" url-params="[[urlParams]]"></operator-form>
      </template>
      <div class="form-group mb-4">
        <label for="initialValueTag" class="col-form-label py-1">Initial Value Tag</label>
        <input
            id="initialValueTag"
            name="initialValueTag"
            list="tagListDropdown"
            class="form-control"
            placeholder="Search/Add Tags"
            autocomplete="off"
            data-index$=""
            value="[[initialValueTag]]"
            on-change="_onInitialValueTagChange"
            required/>
      </div>
      <div class="form-group mb-4">
        <label for="constituentTag" class="col-form-label py-1">Constituent Tag</label>
        <input
            id="constituentTag"
            name="constituentTag"
            list="tagListDropdown"
            class="form-control"
            placeholder="Search tag"
            autocomplete="off"
            data-index$=""
            value=""
            on-change="_onConstituentTagChange"/>
      </div>

      <span class="p-1 font-weight-bold">Active tags</span>
      <ul class="active-tags mb-4">
        <template is="dom-repeat" items="{{constituentTags}}" as="item" restamp>
          <li class="d-flex align-items-center justify-content-between">
            <span>[[item.description]]</span>
            <div class="active-tag-rm-btn" data-name$="[[item.tag_name]]" on-click="_onRemoveActiveTagClick">
              <i class="fas fa-minus-circle form-icon"></i>
            </div>
          </li>
        </template>
      </ul>

      <span class="p-1 font-weight-bold">Total tag</span>
      <div class="form-group mb-4">
        <input
            id="totalTag"
            name="totalTag"
            class="form-control"
            placeholder="Search tag"
            required
            maxlength="32"
            pattern="[0-9a-zA-Z-_]+([\s][0-9a-zA-Z-_]+)*"
            value$="{{totalTagName}}"
            on-change="_onTotalTagNameChange"/>
      </div>

      <datalist id="tagListDropdown" restamp>
        <template is="dom-repeat" items="{{_getCurrentTagList(tagList, constituentTags, initialValueTag)}}" as="item" restamp>
          <option value="[[item.tag_name]]">[[item.description]]</option>
        </template>
      </datalist>

    </div>

  </template>

  <script>
    Polymer({
      is: 'water-fall-filters',
      properties: {
        initialValueTag: {
          type: String,
          value: ''
        },
        totalTagName: {
          type: String,
          value: 'Total'
        },
        constituentTag: {
          type: String,
          value: ''
        },
        constituentTags: {
          type: Array,
          value: [],
          observer: '_onConstituentTagsChange'
        },
        operatorShown: {
          type: Boolean,
          value: false,
          observer: '_onOperatorShowChange'
        },
        operator: {
          type: Object,
          value: {
            operator: 'AVG',
            period: '1',
            periodUnit: 'Day'
          },
          notify: true,
          observer: '_onOperatorChange'
        },
        tagList: {
          type: Array,
          value: []
        },
        urlParams: {
          type: Object,
          value: {},
          observer: '_onChangeUrlParams'
        }
      },
      _onChangeUrlParams(urlParams){
        if (!_.isEmpty(urlParams) && ['waterfall'].includes(urlParams.selectedChart)) {
          this.async(function () {
            const {initialValueTag} = urlParams
            this.set('operatorShown', urlParams.operatorShown)
            this.fire('change-filters', {initialValueTag})
            this.initialValueTag = initialValueTag.tag_name
            this.set('constituentTags', urlParams.constituentTags)
          })
        }
      },
      _onTotalTagNameChange (e) {
        this.set('totalTagName', e.target.value)
        this.fire('change-filters', {totalTagName: e.target.value})
      },
      _getCurrentTagList(tagList, constituentTags, initialValueTag) {
        const names = [initialValueTag, ...constituentTags.map(t => t.tag_name)]
        return _.filter(tagList.slice(), (t => !names.includes(t.tag_name)))
      },
      _onInitialValueTagChange (e) {
        const { value } = e.target
        this.set('initialValueTag', e.target.value)
        this.fire('change-filters', {initialValueTag: this.tagList.find(t => t.tag_name === value)})
      },
      _onConstituentTagChange (e) {
        const { value } = e.target
        this.constituentTags = [...this.constituentTags, this.tagList.find(t => t.tag_name === value)]
        e.target.value = ''
      },
      _onRemoveActiveTagClick(e) {
        this.constituentTags = _.reject(this.constituentTags, ['tag_name', e.currentTarget.dataset.name])
      },
      _onOperatorChange (operator) {
        this.fire('change-filters', {operator, operatorShown: this.operatorShown})
      },
      _onOperatorShowChange () {
        if (this.operator) {
          this._onOperatorChange(this.operator)
        }
      },
      _onConstituentTagsChange(constituentTags) {
        this.fire('change-filters', {constituentTags})
      },
    })
  </script>
</dom-module>
